@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,300);
/** header navigation **/
#featured {
  padding-top: 100px;
}

header .navbar {
  padding: 20px 0;
}

.navbar {
  border: none;
  color: #262262;
}

.navbar-default {
  background-color: #FEC77C;
}

.navbar-default .navbar-brand {
  font-family: 'Old Standard TT', serif;
  font-size: 36px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  color: #262262;
}

.navbar-default .navbar-nav > li > a {
  color: #262262;
  font-weight: 400;
}

header .navbar-toggle {
  background-color: #262262;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.carousel {
  padding-bottom: 40px;
  background-color: #a0d8ef;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA0D8EF', endColorstr='#FFFEFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwZDhlZiIvPjxzdG9wIG9mZnNldD0iNjUlIiBzdG9wLWNvbG9yPSIjZGRmMWY5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmVmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0d8ef), color-stop(65%, #ddf1f9), color-stop(100%, #feffff));
  background-image: -moz-linear-gradient(top, #a0d8ef 0%, #ddf1f9 65%, #feffff 100%);
  background-image: -webkit-linear-gradient(top, #a0d8ef 0%, #ddf1f9 65%, #feffff 100%);
  background-image: linear-gradient(to bottom, #a0d8ef 0%, #ddf1f9 65%, #feffff 100%);
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  margin: 20px auto;
  max-height: 380px;
}

.carousel-control.left, .carousel-control.right {
  background: none;
  font-size: 3em;
  color: #262262;
  opacity: 0.75;
}

.carousel p {
  text-align: center;
}

/* fade on slider */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

img.logo {
  margin-top: 30px;
  max-width: 700px;
  margin: auto;
  display: block;
}

.emphesis {
  font-size: 1.4em;
  font-weight: 700;
  color: #FEC77C;
}

#services {
  background-color: #FEC77C;
}

.service {
  min-height: 400px;
}

.service p, .about p {
  line-height: 1.9em;
}

.icon {
  font-size: 85px;
  display: block;
  text-align: center;
  background-color: #feffef;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: 15px auto;
}

.portfolio {
  margin-bottom: 50px;
  text-align: center;
}

.portfolio h3 {
  margin-top: 0;
}

.portfolio img {
  max-width: 100%;
}

#testimonials {
  background-color: #feffef;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFFEF', endColorstr='#FFA0D8EF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZlZiIvPjxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjZGRmMWY5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYTBkOGVmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feffef), color-stop(35%, #ddf1f9), color-stop(100%, #a0d8ef));
  background-image: -moz-linear-gradient(top, #feffef 0%, #ddf1f9 35%, #a0d8ef 100%);
  background-image: -webkit-linear-gradient(top, #feffef 0%, #ddf1f9 35%, #a0d8ef 100%);
  background-image: linear-gradient(to bottom, #feffef 0%, #ddf1f9 35%, #a0d8ef 100%);
}

blockquote {
  border-left: 5px solid #262262;
}

.client-image {
  float: left;
  margin: 10px 25px 60px;
}

.client-image img {
  margin: 0 auto;
  display: block;
}

.client, .customer {
  font-weight: 700;
}

.customer {
  text-align: center;
}

body {
  color: #262262;
  background-color: #feffef;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 15px 0;
}

h2, h3 {
  text-align: center;
}

.page {
  padding: 40px 0;
  border-top: 80px solid #262262;
}

.page h2, .page h3 {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  background-color: #FEC77C;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
  }
}
@media (max-width: 998px) {
  .navbar-nav > li > a {
    padding: 15px 8px;
    font-size: 0.8em;
  }

  .client-image {
    width: 100%;
    margin: 10px 25px 20px;
  }
}
@media (max-width: 768px) {
  .portfolio img {
    max-width: 400px;
    display: block;
    margin: auto;
  }

  img.logo {
    max-width: 500px;
  }
}
@media (max-width: 550px) {
  .navbar-default .navbar-brand {
    font-size: 22px;
  }

  .portfolio img, img.logo {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .client-image {
    margin: 10px 25px 170px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 768px) {
  #services, #about p, .quote {
    padding-left: 16%;
    padding-right: 16%;
  }
}
